.ban-outer{
    padding-top: 150px;
    padding-bottom: 150px;
}

.ban h1{
    font-family: 'DiaClone', sans-serif;
    font-size: 136px;
    color: var(--text-color);
    font-weight: 400; 
    word-wrap: break-word;
    width: 18ch;
    line-height: 135px;
}

.ban p{
    font-size: 29px;
    color: #5B6183; 
    line-height: 35px;
    margin-top: 25px;
}

.ban .discover-btn{
    font-size: 24px;
    font-family: 'JakartaSemiBold', sans-serif;
    color: white;
    text-align: center;
    font-weight: 600;
    word-wrap: break-word;
    width: 325px;
    padding: 15px 10px;
    background: linear-gradient(103deg, #4B5EFC 0%, #1740D1 100%);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 25px;
    transition: transform 0.3s ease-in-out;
    margin-top: 25px;
}

.ban .discover-btn:hover {
    transform: scale(1.1); /* Optional hover effect */
}

.ban .learn-btn{
    font-size: 24px;
    font-family: 'JakartaSemiBold', sans-serif;
    color: white;
    text-align: center;
    font-weight: 600;
    word-wrap: break-word;
    width: 325px;
    padding: 15px 10px;
    background: #3A3D63;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    border: none;
    transition: transform 0.3s ease-in-out;
    margin-top: 25px;
}

.ban .learn-btn:hover {
    transform: scale(1.1); /* Optional hover effect */
}



.ban .viking{
    width: 120%;
    margin-top: -60px;
}



@media (max-width: 650px) { 
   
    .ban-outer{
        padding-top: 60px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 30px;
    }

    .ban h1{
        font-size: 50px;
        line-height: 52px;
    }

    .ban p{
        font-size: 16px;
        line-height: 22px;
        width: auto ;
    }

    .ban .discover-btn{
        font-size: 16px;
        width: 100%;
        padding: 8px 4px;
        border-radius: 10px;
        margin-right: 0px;
        
    }

    .ban .learn-btn{
        font-size: 16px;
        width: 100%;
        padding: 8px 4px;
        border-radius: 10px;
        margin-right: 0px;
        margin-top: 10px;
    }

    .ban .viking{
        width: 100%;
        margin-top: 30px;
    }

 }