#Case{
    padding-top: 50px;
    padding-bottom: 50px;
}

#Case .outer {
    padding-left: 30px;
    padding-right: 30px;
}

#Case .item {
    border: 3px solid #f3f1f6;
    border-radius: 20px;
    margin-bottom: 30px;
    background: linear-gradient(360deg, #091849 0%, black 100%);
}

#Case .blog_img {
    width: 100% !important;
    border-radius: 20px !important;
    height: 200px !important;
    object-fit: cover !important;
}

#Case .item .inner {
    padding: 20px;
}

#Case .item .inner h3 {
    font-size: 25px;
    line-height: 30px;
    width: auto;
    font-weight: bolder;
    color: #ffffff;
    background-image: linear-gradient(to right, #1ab7de, #5a62f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blog_learn_more {
    font-weight: bolder;
    font-size: 16px;
    color: #fff;
}

.blog_learn_more img {
    width: 20px !important;
    margin-left: 5px !important;
    height: auto !important;
}