footer{
    background: #04040B;
    padding: 80px 10px 30px 10px;
}

footer .footer-logo{
    width: 120px;
    height: auto;
}

footer p{
    margin-top: 25px;
    opacity: 0.80; 
    color: #ffffff; 
    font-size: 18px;
    font-weight: 600;
    width: 35ch;
}

footer h2{
    font-family: 'JakartaSemiBold', sans-serif;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 25px;
}

footer ul{
    list-style-type: none;
}

footer ul li{
    margin-left: -40px;
    margin-top: 20px;
    opacity: 0.80; 
    color: #ffffff;
    font-size: 18px;
}

footer hr{
    border-top: 1px solid #30304D;
    margin-top: 80px;
    margin-bottom: 50px;
}

footer button{
    width: 40px; 
    height: 40px;
    padding: 6px;
    background: #485CF9; 
    border-radius: 10px;
    border: none;
    margin-left: 8px;
}

footer .btn-div{
    float: right;
    margin-top: -55px;
}



@media (max-width: 650px) {          /*---------------MOBILEs-----------------*/
 
    footer{
        padding: 40px 30px 20px 30px;
    }

    footer .footer-logo{
        width: 80px;
    }

    footer p{
        font-size: 16px;
        line-height: 22px;
        width: auto;
        margin-bottom: 50px;
    }
    
    footer h2{
        font-family: 'JakartaSemiBold', sans-serif;
        font-size: 18px;
        margin-bottom: 25px;
    }

    footer .col-12{
        margin-top: 40px;
    }

    footer ul li{
        margin-top: 15px;
        font-size: 14px;
    }

    footer hr{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    footer .btn-div{
        float: none;
        margin-top: -0px;
    }


}