.navbar{
background: #03030b !important;
padding-top: 30px;
}

.navbar li a{
    color: white !important;
    font-size: 20px;
    font-family: 'JakartaMedium', sans-serif;
    font-weight: 500; 
    word-wrap: break-word;
    margin-right: 20px;
}

.navbar .app-logo{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.navbar .line{
    width: 1px;
    height: auto;
    margin-left: 15px;
    margin-right: 10px;
}

.navbar .input-div{
    position: relative;
}

.navbar .input-div .search-icon{
    width: 20px;
    height: 20px;
    object-fit: contain;
    position: absolute;
    top: 15px;
    left: 25px;
}

.navbar .input-div .search{
    font-size: 16px;
    font-family: 'JakartaMedium', sans-serif;
    font-weight: 500;
    color: #3A3A4A;
    background-color: #0F0F1B;
    border: none;
    max-width: 409px; 
    padding: 25px 55px;
    border-radius: 10px;
    margin-left: 5px;
}

.navbar .blog-btn{
    font-size: 16px;
    font-family: 'JakartaSemiBold', sans-serif;
    color: white;
    text-align: center;
    font-weight: 600;
    word-wrap: break-word;
    width: 200px;
    padding: 10px;
    background: linear-gradient(103deg, #4B5EFC 0%, #1740D1 100%);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 20px;
    transition: 1s;
}

.navbar .blog-btn:hover{
    background: linear-gradient(103deg, #050D29 0%, #000001 100%);
    border: 1px solid #ffffff;
}

.navbar .explore-btn{
    font-size: 16px;
    font-family: 'JakartaSemiBold', sans-serif;
    color: white;
    text-align: center;
    font-weight: 600;
    word-wrap: break-word;
    width: 200px;
    padding: 10px;
    background: #3A3D63;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: none;
}

#FormModal .modal-content{
    border-radius: 15px 15px 15px 15px;
    margin-top: 100px;
    background: linear-gradient(180deg, #141723 0%, #070913 99%);
    border: 2px solid #091849;
    padding: 8px;
}

#FormModal .modal-dialog {
    min-width: 1000px;
    border-radius: 1vw;
  }
  
  #FormModal .modal-body {
    padding: 0vw;
  }

  #FormModal .join-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 15px 15px;
  }  

  #FormModal .right{
    padding: 30px 60px 0px 30px;
  }

  #FormModal .right h2{
    font-family: 'DiaClone', sans-serif;
    font-size: 60px;
  }

  #FormModal .right input {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    border: none;
    color: #ffffff !important;
    font-size: 18px;
    border-radius: 2vw;
    background: black;
}

#FormModal .right textarea {
    background: black;
    border-radius: 1vw;
    color: #ffffff;
    border: none;
}


#FormModal .modal-footer {
  border-top: none;
}

#FormModal a{
    text-decoration: underline;
}


@media (max-width: 650px) {          /*---------------MOBILEs-----------------*/

    .navbar{
        padding-top: 10px;
        }
    
    .navbar .line{
        display: none;
    }    

    .navbar .app-logo{
        width: 60px;
        height: 60px;
        object-fit: contain;
    }

    .navbar .input-div{
        margin-top: 10px;
    }

    .navbar .input-div .search{
        width: 100%;
        margin-left: 0px;
    }

    .navbar .blog-btn{
        width: 100%;
        margin-right: 0px;
    }

    .navbar .explore-btn{
        width: 100%;
        margin-top: 10px;
    }

    #FormModal .modal-dialog {
        min-width: 100%;
        border-radius: 1vw;
      }

    #FormModal .modal-dialog {
      max-width: 500px;
      margin: 1.75rem auto;
  }

  #FormModal .left{
   display: none;
  }

  #FormModal .right{
    padding: 30px 30px 0px 30px;
  }




}