.navbar{
background: #03030b !important;
padding-top: 30px;
}

.navbar li a{
    color: white !important;
    font-size: 20px;
    font-family: 'JakartaMedium', sans-serif;
    font-weight: 500; 
    word-wrap: break-word;
    margin-right: 20px;
}

.navbar .app-logo{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.navbar .line{
    width: 1px;
    height: auto;
    margin-left: 15px;
    margin-right: 10px;
}

.navbar .input-div{
    position: relative;
}

.navbar .input-div .search-icon{
    width: 20px;
    height: 20px;
    object-fit: contain;
    position: absolute;
    top: 15px;
    left: 25px;
}

.navbar .input-div .search{
    font-size: 16px;
    font-family: 'JakartaMedium', sans-serif;
    font-weight: 500;
    color: #3A3A4A;
    background-color: #0F0F1B;
    border: none;
    max-width: 409px; 
    padding: 25px 55px;
    border-radius: 10px;
    margin-left: 5px;
}

.navbar .blog-btn{
    font-size: 16px;
    font-family: 'JakartaSemiBold', sans-serif;
    color: white;
    text-align: center;
    font-weight: 600;
    word-wrap: break-word;
    width: 200px;
    padding: 10px;
    background: linear-gradient(103deg, #4B5EFC 0%, #1740D1 100%);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 20px;
}

.navbar .explore-btn{
    font-size: 16px;
    font-family: 'JakartaSemiBold', sans-serif;
    color: white;
    text-align: center;
    font-weight: 600;
    word-wrap: break-word;
    width: 200px;
    padding: 10px;
    background: #3A3D63;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: none;
}