.banner-outer{
    min-height: 1030px;
    background-image: url("../images/banner.png"); /* The image used */
    background-color: #03030b; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    position: relative;
}

.welcome-pill{
    background: rgba(6.93, 0, 32.94, 0.35);
    padding: 8px 70px 4px 70px;
    border-radius: 40px;
    border: 1px #394A8B solid;
    margin: 0 auto;
    position: absolute;
    top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.welcome-pill h2{
    font-family: 'JakartaMedium', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: white;
    word-wrap: break-word;
}

.banner-outer h1{
    font-family: 'DiaClone', sans-serif;
    font-size: 136px;
    text-align: center;
    color: white;
    font-weight: 400; 
    word-wrap: break-word;
    width: 18ch;
    line-height: 135px;
    margin: 0 auto;
    position: absolute;
    top: 44%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.banner-outer p{
    font-size: 29px;
    text-align: center;
    color: #ADADAD; 
    width: 55ch ;
    line-height: 35px;
    margin: 0 auto;
    position: absolute;
    top: 64%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.banner-outer .btn-div{
    position: absolute;
    top: 76%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
}

.banner-outer .discover-btn{
    font-size: 24px;
    font-family: 'JakartaSemiBold', sans-serif;
    color: white;
    text-align: center;
    font-weight: 600;
    word-wrap: break-word;
    width: 325px;
    padding: 15px 10px;
    background: linear-gradient(103deg, #4B5EFC 0%, #1740D1 100%);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 25px;
    transition: transform 0.3s ease-in-out;
}

.banner-outer .discover-btn:hover {
    transform: scale(1.1); /* Optional hover effect */
}

.banner-outer .learn-btn{
    font-size: 24px;
    font-family: 'JakartaSemiBold', sans-serif;
    color: white;
    text-align: center;
    font-weight: 600;
    word-wrap: break-word;
    width: 325px;
    padding: 15px 10px;
    background: #3A3D63;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    border: none;
    transition: transform 0.3s ease-in-out;
}

.banner-outer .learn-btn:hover {
    transform: scale(1.1); /* Optional hover effect */
}

/* Responsice Css */

@media screen and (min-width: 1200px) and (max-width: 1366px) {

    .banner-outer .discover-btn{
        width: 300px;
    }
    
    .banner-outer .learn-btn{
        width: 300px;
    }

}


@media (max-width: 650px) {          /*---------------MOBILEs-----------------*/
     
    .banner-outer{
        min-height: 200px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .welcome-pill{
        padding: 6px 10px 1px 10px;
        border-radius: 40px;
        margin: 0 auto;
        margin-top: 50px;
        position: relative;
        width: auto;
    }

    .welcome-pill h2{
        font-size: 14px;
    }

    .banner-outer h1{
        font-size: 50px;
        line-height: 52px;
        text-align: center;
        margin: 0 auto;
        position: relative;
        margin-top: 50px;
    }

    .banner-outer p{
        font-size: 16px;
        line-height: 22px;
        width: auto ;
        position: relative;
        margin-top: -15px;
    }

    .banner-outer .btn-div{
        position: relative;
        margin: 0 auto;
        margin-top: 50px;
    }

    .banner-outer .discover-btn{
        font-size: 16px;
        width: 100%;
        padding: 8px 4px;
        border-radius: 10px;
        margin-right: 0px;
        
    }

    .banner-outer .learn-btn{
        font-size: 16px;
        width: 100%;
        padding: 8px 4px;
        border-radius: 10px;
        margin-right: 0px;
        margin-top: 10px;
    }

}