.inside-outer{
    /* background-image: url("../images/inside-bg.png"); */
    background-color: var(--bg-color); /* Used if the image is unavailable */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}



.inside{
    padding-top: 120px;
    padding-bottom: 120px;
}

.inside h1{
    font-family: 'DiaClone', sans-serif;
    font-size: 87px;
    font-weight: 400; 
    word-wrap: break-word;
    color: var(--text-color); 
}

.inside p{
    font-family: 'JakartaMedium', sans-serif;
    color: #5b6183;
    font-size: 22px;
    line-height: 29px;
    width: 50ch;
}

.inside .row{
    margin-top: 70px;
}

.inside .left{
  padding-right: 15px;
}

.inside .right{
    padding-left: 15px;
  }

.inside .big{
    position: relative;
    border-radius: 15px;
}  

.inside .big .big-bg{
   width: 100%;
   position: relative;
   height: 100%;
   object-fit: cover;
   border-radius: 15px;
   height: 500px;
}

.inside .big h2{
    position: absolute;
    color: white; 
    font-size: 30px;
    font-family: 'JakartaSemiBold', sans-serif;
    width: 24ch;
    left: 25%;
    bottom: 18%;
}

.inside .big p{
    position: absolute;
    color: #8E8E8E; 
    font-size: 16px;
    line-height: 22px;
    left: 25%;
    bottom: 4%;
}

.inside .big .big-small{
    position: absolute;
    left: 0%;
    bottom: 0%;
    border-radius: 0px 15px 0px 15px;
    width: 150px;
    height: 200px;
    object-fit: cover;
}


.inside .small{
    position: relative;
    border-radius: 15px;
    margin-bottom: 20px;
}  

.inside .small .small-bg{
    width: 100%;
    position: relative;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    height: 240px;
 }

 .inside .small .small-small{
    position: absolute;
    position: absolute;
    left: 0%;
    bottom: 0%;
    border-radius: 0px 15px 0px 15px;
    width: 100px;
    height: 130px;
    object-fit: cover;
 }

 .inside .small h3{
    font-family: 'JakartaSemiBold', sans-serif;
    position: absolute;
    color: white; 
    font-size: 20px;
    font-weight: 700;
    width: 25ch;
    left: 25%;
    bottom: 18%;
 }



 @media (max-width: 650px) {          /*---------------MOBILEs-----------------*/

    .inside{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .inside h1{
        font-size: 45px;
    }

    .inside p{
        font-size: 16px;
        line-height: 22px;
        width: auto;
    }

    .inside .row{
        margin-top: 40px;
    }

    .inside .big .big-bg{
        margin-bottom: 30px;
        height: 420px;
     }

     .inside .big h2{
        font-size: 25px;
        line-height: 32px;
        width: auto;
        left: 30px;
        top: 180px;
    }
    
    .inside .big p{
        font-size: 16px;
        line-height: 22px;
        left: 30px;
        top: 285px;
        width: 22ch;
    }
     
    .inside .big .big-small{
        position: absolute;
        left: 0%;
        top: 0%;
        border-radius: 15px 0px 15px 0px;
        width: 100px;
        height: 150px;
    }

    
    .inside .small .small-bg{
        min-height: 200px;
     }
    
     .inside .small .small-small{
        position: absolute;
        left: 0%;
        top: 0%;
        border-radius: 15px 0px 15px 0px;
        width: 80px;
        height: 120px;
        object-fit: cover;
     }
    
     .inside .small h3{
        font-size: 16px;
        line-height: 22px;
        width: auto;
        left: 30px;
        top: 150px;
     }
    
    

 }