.join-outer{
    background: linear-gradient(360deg, #091849 0%, black 100%);
}

.join{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 180px;
}

.join .panda-img{
    width: 450px;
    height: auto;
    position: relative; /* Set positioning */
    z-index: 1; /* Set z-index lower */
}

.join .inner{
    position: relative; /* Set positioning */
    z-index: 2; /* Set z-index higher than the image */
    border-radius: 40px;
    border: 2px rgba(255, 255, 255, 0.40) solid;
    padding: 100px 20px 80px 20px;
    margin-top: -100px;
    background-image: url("../images/join-bg.jpg"); /* The image used */
    background-color: #03030b; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.join .inner h1{
    font-family: 'DiaClone', sans-serif;
    font-size: 87px;
    font-weight: 400; 
    word-wrap: break-word;
    color: white; 
}

.join .inner p{
    font-family: 'JakartaMedium', sans-serif;
    color: #5B6183;
    font-size: 28px;
    line-height: 35px;
    width: 50ch;
    text-align: center;
    margin: 0 auto;
}

.join .inner .contact-btn{
    font-size: 24px;
    font-family: 'JakartaSemiBold', sans-serif;
    color: white;
    text-align: center;
    font-weight: 600;
    word-wrap: break-word;
    padding: 15px 85px;
    border-radius: 15px;
    border: none;
    transition: transform 0.3s ease-in-out;
    margin-top: 40px;
    background: linear-gradient(103deg, #4B5EFC 0%, #1740D1 100%);
}

.join .inner .contact-btn:hover {
    transform: scale(1.1); /* Optional hover effect */
}



@media (max-width: 650px) {          /*---------------MOBILEs-----------------*/

    .join{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 60px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .join .panda-img{
        width: 70%;
    }

    .join .inner{
        border-radius: 20px;
        padding: 30px 10px 20px 10px;
        margin-top: -30px;
    }

    .join .inner h1{
        font-size: 45px;
        line-height: 50px;
    }
    
    .join .inner p{
        font-size: 16px;
        line-height: 22px;
        width: auto;
    }

    .join .inner .contact-btn{
        font-size: 16px;
        padding: 8px 4px;
        width: 100%;
        margin-right: 0px;
        border-radius: 10px;
        margin-top: 25px;
    }

}