.privacy-outer{
    padding-top: 100px;
    padding-bottom: 60px;
    background: linear-gradient(360deg, #091849 0%, black 100%);
}

.privacy h1{
    font-family: 'DiaClone', sans-serif;
    font-size: 87px;
    color: white;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 93px;
}


.privacy-content{
    padding:50px 0px 50px 0px;
}

.privacy-content h2{
    font-size: 30px;
    line-height: 40px;
    margin-top: 50px;
}

.privacy-content h3{
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.privacy-content p{
    font-size: 16px;
}




@media (max-width: 650px) {          /*---------------MOBILEs-----------------*/
    
    .privacy-outer{
        padding-top: 10px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        background: linear-gradient(360deg, #091849 0%, black 100%);
    }

    .privacy h1{
        font-size: 45px;
    }

    .privacy-content{
        padding:50px 30px 50px 30px;
    }
    

}