*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: 0 !important;
}


@font-face {
  font-family: 'outfit-regular';
  src: url('./fonts/OutfitRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'outfit-light';
  src: url('./fonts/OutfitLight.ttf') format('truetype');
}

@font-face {
  font-family: 'jakarta-bold';
  src: url('./fonts/PlusJakartaSans-Bold.ttf') format('truetype');
}

html, 
body {
	background: #010314;
	font-family: 'outfit-regular', serif;
	scroll-behavior: smooth;
	margin: 0!important;
	padding: 0!important;
    width: 100%;
    font-smoothing:antialiased;
}

body{
	overflow-x: hidden;
}



a {
  text-decoration: none;
  color: inherit;
}

.cont{
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 650px) {          /*---------------MOBILEs-----------------*/
  .cont{
    max-width: 100%;
    width: 100%;
    padding-left: 0px;
  padding-right: 0px;
  }
}









